<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>shosho engine</title>
</head>
<body>
    <div class="center-screen">
        <h2>SHOSHO SEARCH ENGINE</h2>
        <form action="http://127.0.0.1:5000/statisticalModel" method="POST" >
            <div><input type="text" name="search"  />   </div>

            <div><h3>Weight?</h3></div>

            <div><input type="radio" name="weight" value="True" id="True" checked/>
             <label for="True">weight</label><br>

            <div><input type="radio" name="weight" value="False" id="False"/><label for="False">unweighted</label><br>
            </div>
        <br>
            <div>
                <button type="submit">submit</button>
                <a href="http://127.0.0.1:5000/generateFilesStatModel">I am feeling lucky Stat Model</a>
                <a href="http://127.0.0.1:5000/generateFilesVectorModel">I am feeling lucky vector Model</a>

            </div>
            
        </form>
        
    </div>
</body>
</html>