<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>shosho engine</title>
</head>
<body>
    <div class="center-screen">
        <h2>SHOSHO SEARCH ENGINE</h2>
        <form action="http://127.0.0.1:5000/statisticalModel" method="POST" >
            <div><input type="text" name="search"  />   </div>
            
        <br>
            <div>
                <button type="submit">submit</button>
                <a href="http://127.0.0.1:5000/genrateFiles">I am feeling lucky</a>
            
            </div>
            
        </form>
        
    </div>
</body>
</html>